body{
    width: 100%; 
} 

h2{
    color: rgb(55, 170, 250);
}

.navbar-header{
    background-color:rgb(55, 170, 250);
    position: relative;
    margin-left: 4.5% !important;
    padding-left: 3%;
    padding-right: 2%;   
}

.navbar-brand {
    color: white !important; 
    font-size: 45px;   
}

.nav li{
    font-size: 20px;
}

.navbar a:hover {
    color:rgb(161, 206, 238) !important;
  }

.main img{
    margin-right: 3%;
}

.main p{
     text-align: justify;
     font-size: medium;
 }

.right img{
    margin: 10%;
}

.right img:hover {
    box-shadow: 5px -5px 5px #888888;
  }


@media (max-width: 768px)
{
   
    .navbar-header{
        margin-left: -5% !important;  
    }

    .right img{
        margin:auto;
        margin-bottom: 2%;
    }
} 



/* ================comparison.html============================== */
.comparison h3{
    color: rgb(55, 170, 250);
    margin: 5%;
    text-align: center;
}


.comparison img{
    margin-bottom:5%;
}
  


.plot img:hover {
    border: 1px solid #888888;
    box-shadow: 5px -5px 5px #888888;
  }
  

/* ========================data.html======================= */

thead{
    background-color: rgb(138, 190, 227);
}

th, td {
    padding: 2%;
    text-align: left;
  }

tr:nth-child(even) {
    background-color: #bbdff2;
}


/* =============== maxTemp.html================== */

.mainPlot img{
    margin-bottom: 3%;
}

.mainPlot p{
    text-align: justify;
    font-size: medium;
}

.activeImg {
    width: 97%;
    border: 4px solid rgb(138, 190, 227); 
    box-shadow: 5px -5px 5px #888888;
  }

.activeImgH{
    box-shadow: 5px -5px 5px #888888;
    border: 4px solid rgb(138, 190, 227); 
}


