body{
    width: 100%; 
} 

.navbar-header{
    background-color: rgb(138, 212, 230);
    padding-left: 5%;
    padding-right: 5%;   
}

.navbar-brand {
    text-shadow: 2px 2px 3px rgb(134, 134, 160);
    color: white !important;;
    margin-left: 5%;
    padding-left: 10%;
    padding-right: 10%;   
    font-size: 45px;   
}

.nav li{
    font-size: 20px;
}

.main img{
    margin-right: 3%;
}
 .main p{
     font-size: medium;
 }


/* For 1024 Resolution  - Laptop   */
/* @media (min-width: 1024px) */
/* {
    .navbar-header button {
    display: none;
    }
} */

/* 
@media (min-width: 768px)
{
    .navbar-toggle {
        display: none;
    }
    .navbar-header button {
        display: block;
    }
    
}  */

