body{
    width: 100%; 
} 

h2{
    color: rgb(55, 170, 250);
}

.navbar-header{
    background-color:rgb(55, 170, 250);
    position: relative;
    margin-left: 4.5% !important;
    padding-left: 3%;
    padding-right: 2%;   
}

.navbar-brand {
    text-shadow: 2px 2px 3px rgb(134, 134, 160);
    color: white !important; 
    font-size: 45px;   
}

.nav li{
    font-size: 20px;
}

.main img{
    margin-right: 3%;
}
 .main p{
     font-size: medium;
 }

.right img{
    margin: 10%;
}


@media (max-width: 768px)
{
   
    .navbar-header{
        margin-left: -5% !important;  
    }

    
} 



/* ================comparison.html============================== */
.comparison h3{
    color: rgb(55, 170, 250);
    margin: 5%;
    text-align: center;
}


.comparison img{
    margin-bottom:5%;
}
  

.plot img:hover {
    border: 1px solid #888888;
    box-shadow: 5px -5px 5px #888888;
  }
  


